<div class="row border-bottom m-0" style="padding:20px">
 <div class="col-md-6 border-right">
    <h3 class="mb-10">Employee Engagement Survey Template Employee Engagement Survey</h3>
    <div class="row h4 text-gray">
      <div class="col-md-4 border-right">Start Date: Nov 5, 2020</div>
      <div class="col-md-4 border-right">Start Date: Nov 5, 2020</div>
      <div class="col-md-4">Start Date: Nov 5, 2020</div>
    </div>
 </div>
 <div class="col-md-2 border-right d-flex flex-column justify-content-center align-items-center">
  <div class="w-75">
    <u class="text-primary">60</u>
  </div>
  <div class="w-75">
    <h4>Respondents</h4>
  </div>
 </div>
 <div class="col-md-2 border-right">
 </div>
 <div class="col-md-2 row m-0 p-0">
  <div class="col-md-10 d-flex justify-content-center align-items-center">
    <div class="w-75 text-center">
      <h3>
      <u class="mr-2">30</u>
      <i class="bubble-icon-Notification"></i>
      </h3>
      <h4 class="text-gray">Pending</h4>
    </div>
  </div>
  <div class="col-md-2 d-flex justify-content-end align-items-center m-0 p-0">
    <i class="dropdown dropleft bubble-icon-more-2" data-toggle="dropdown"> </i>
    <ul class="dropdown-menu">
      <li class="dropdown-item">
        <span class="dropdown-text">Preview</span>
      </li>
      <li class="dropdown-item">
        <span class="dropdown-text">Assign</span>
      </li>
      <li class="dropdown-item">
        <span class="dropdown-text">Push to Templates</span>
      </li>
      <li class="dropdown-item">
        <span class="dropdown-text">Duplicate</span>
      </li>
      <li class="dropdown-item">
        <span class="dropdown-text">Delete</span>
      </li>
    </ul>
  </div>
 </div>
</div>