<div class="row mt20">
  <div class="col-md-1">
    <div class="text-secondary h4">Sections</div>
    <div class="h1 mt10">1</div>
  </div> 
  <div class="col-md-1">
    <div class="text-secondary h4">Questions</div>
    <div class="h1 mt10">0</div>
  </div>  
  <div class="col-md-10 d-flex justify-content-end align-items-center">
    <button class="btn btn-outline-primary">Preview</button>
  </div>
</div>
<div class="card mt20">
  <div class="card-header">
    <span class="h2 text-primary">+ Add Section Title</span>
    <span class="text-secondary h4">(Optional)</span>
  </div>
  <div class="card-body">
    <button class="btn btn-outline-primary dropdown">Add Questions</button>
  </div>
</div>
<div class="text-primary">+ Add Section</div>