<div class="align-items-center h4 no-gutters row text-primary">
  <i class="bubble-icon-arrow-left-2 mr-1"></i>
  <span>Back</span>
</div>
<div class="mt20 row">
  <div class="col-md-9">
    <div class="font-weight-bold h2 name">Product customer feedback survey Product customer feedback survey Product customer feedbacProduct custom</div>
    <span class="h3 mt-2 text-secondary desc">Thank you for taking the time to answer these questions. The following questions are about to know how well our product is successful and measure our product’s value and quality, helping us to gauge opportunities and quality, helping  opportunities for improvement...</span>
    <span class="h3 text-primary">Read More</span>
    <div class="row text-secondary h4 mt-3">
      <div class="col-md-12">
        <span>Created on: Oct 10, 2019</span>
        <span class="mx-10">|</span>
        <span>300 Points</span>
        <span class="mx-10">|</span>
        <span>Author:</span>
        <avatar-image class="img-xs mx-10" user-name="Michael Jordan" image-size="xs"></avatar-image>
        <span>Michael Jordan</span>
        <span class="mx-10">|</span>
        <span>Co-Authors:</span>
        <avatar-image class="img-xs mx-10" user-name="Michael Jordan" image-size="xs"></avatar-image>
      </div> 
    </div>
  </div>
  <div class="col-md-3 d-flex justify-content-end">
    <div class="btn-groups">
      <button class="btn btn-primary">Assign</button>
      <button class="btn btn-icon bubble-icon-more-2"></button>
    </div>
  </div>
</div>