<div class="card">
  <div class="card-header">
    <div>
      <h2 class="d-inline">RECENTLY CREATED SURVEYS</h2>
      <i class="bubble-icon-Filter float-right pointer" data-toggle="collapse" data-target="#filter-search-container"></i>
    </div>
  </div>
  <div id='filter-search-container' class="collapse bg-zircon" style="padding:20px" >
    <div class="form-control-search position-relative" id="searchForm">
      <input class="goals-search" id="search" style="width:300px" placeholder="Search by Survey">
      <span class="bubble-icon-Search pointer position-absolute" id="searchIcon" style="left:275px"></span>
    </div>
  </div>
  <div class="card-body" id="assigned-survey-list">
    <div id='recent-list-container' class="row"></div>
  </div>
</div>