<button class="p-5 text-secondary my-5" id="add-question-btn" style="border:1px dashed gray">+ Add Question</button>
<div class="w-100" id="question-container"></div>
<div>
  <button class="btn btn-primary" id="new-survey">Create New Survey</button>
  <user-details class="img-sm" user-name="Saphina S  Smith" user-id="e0bcab5b-5bd8-4bf3-8b78-1ef065a02172" image-url="//social.sandbox-engagedly.com/uploads/ea272349-3e5c-4077-ace3-d93d0610bfdf/808e83c2-9ddd-42e1-b86c-4d35dd4200e2/social/picture/file/2506/reduced_vIzOHXj.jpg" image-size="sm"></user-details>
</div>
<div class="text-center d-none mb-5">
  <button class="btn btn-primary" id="add-question-small">+ Add Question</button>
</div>