<button class="p-5 text-secondary my-5" id="add-question-btn" style="border:1px dashed gray">+ Add Question</button>
<div class="w-100" id="question-container"></div>
<div class="text-center d-none mb-5">
  <button class="btn btn-primary" id="add-question-small">+ Add Question</button>
</div>