<div class="container bg-secondary px-0 d-flex flex-column" style="min-height:50vh">
  <div class="row mx-0" id='top-nav'></div>
  <div class="h-100" id='main-content'></div>
  <div class="row" id="footer"></div>
</div>