<div id="details-top-section" class="mb-20"></div>
<eng-subnav id="details-subnav" navItems="Questionnare,Respondents,Responses" activeItem="<%=@type%>" base-url="survey/<%=@survey_id%>/"></eng-subnav>
<div id="details-main-section"></div>