<div class="px-5 py-3"><%= @text %></div>
<input class="input-group-text mx-5 my-3 d-none" type="text" value="<%= @text %>" placeholder="Survey Name">
<i class="fa fa-pencil-square-o mx-1" id="edit-title"></i>
<i class="fa fa-check mx-1 d-none" id="save-title"></i>
<i class="fa fa-times mx-1 d-none" id="cancel-title"></i>